#Listening adress
AGENT_BIND_ADDR = 0.0.0.0
#UDP PORT
AGENT_PORT = 1680

# GW RPC PORT
GW_RPC_ENDPOINT_PORT=<gw_rpc_endpoint_port> # DEFUALT: 50052

#Network bridge access
NB_PORT = 1680
NB_HOST = <host> # IP ADDR or HostName (pub interface no loopback)

#filters for deveui and dev address file
FILE_AND_PATH = src/filters.json
#debug mode
DEBUG = true


# GW MQTT Broker access
BROKER_URL = 127.0.0.1
BROKER_PORT = 1883
BROKER_QOS=1
BROKER_AUTH_USERNAME = username
BROKER_AUTH_PASSWORD = password
BROKER_TOPIC = /edge2lora/topic

# EDGE2LORA
RPC_DM_REMOTE_HOST=<distributed_module_ip>
RPC_DM_REMOTE_PORT=<distrubuted_module_rpc_endpoint_port>

# Device list 
DEVICE_LIST_FILENAME='src/devices.json'

# Ignore per packets logs in case of big deployments. 1 to ignore, 0 otherwise.
IGNORE_LOGS=0