#Listening adress
AGENT_BIND_ADDR = 0.0.0.0
#UDP PORT
AGENT_PORT = 1680

#Network bridge access
NB_PORT = 1680
NB_HOST = <host> # IP ADDR or HostName (pub interface no loopback)

#filters for deveui and dev address file
FILE_AND_PATH = src/filters.json
#debug mode
DEBUG = true
MQTT = false
#Mqtt Broker access
BROKER_URL = 127.0.0.1
BROKER_PORT = 1885
BROKER_AUTH_USERNAME = username
BROKER_AUTH_PASSWORD = password
BROKER_TOPIC = /edge2lora/topic
