#Listening adress
AGENT_BIND_ADDR = 0.0.0.0
#UDP PORT
AGENT_PORT = 1680

#Network bridge access
NB_PORT = 1680
NB_HOST = FQDN.NetworkBridge

#filters for deveui and dev address file
FILE_AND_PATH = src/filters.json
#debug mode
DEBUG = true
MQTT = false
#Mqtt Broker access
BROKER_URL = FQDN.BrokerUrl
BROKER_PORT = 1885
BROKER_AUTH_USERNAME = username
BROKER_AUTH_PASSWORD = password
BROKER_TOPIC = /elegant/unidata_topic


#Per Openshift vecchia produzione
#oc set env dc/lora-proxy AGENT_BIND_ADDR = 0.0.0.0
#oc set env dc/lora-proxy AGENT_PORT = 8081
#oc set env dc/lora-proxy NB_HOST = 127.0.0.1
#oc set env dc/lora-proxy NB_PORT = 1680
#oc set env dc/lora-proxy FILE_AND_PATH = src/filters.json
#oc set env dc/lora-proxy DEBUG = true
#oc set env dc/lora-proxy MQTT = false
#oc set env dc/lora-proxy BROKER_URL = FQDN.BrokerUrl
#oc set env dc/lora-proxy BROKER_PORT = 1885
#oc set env dc/lora-proxy BROKER_AUTH_USERNAME = username
#oc set env dc/lora-proxy BROKER_AUTH_PASSWORD = password!
#oc set env dc/lora-proxy BROKER_TOPIC = /elegant/unidata_topic
